.banner{
    background-color:#E9EEF6;
    padding-top: 5%;
    padding-bottom: 5%;
}

.all-tasks-heading {
    text-align: left;
    margin-left: 20px; /* Adjust the margin as needed */
    font-family: Menlo;
}

.tasks-body {
    background-color: #F6F7F8;
}

#all-tasks-body {
    background-color: #F6F7F8;
    height: 100vh;
}